:root{
    --main-color: rgb(41, 28, 23);
    --overlay-color: rgba(11, 114, 133, 0.9);
}
nav {
    position: relative;
}
.toggler {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 3;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Hamburger line */
.hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.hamburger > div:before,
.hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 2px;
    top: -10px;
    background: inherit;
}

.hamburger > div:after {
    top: 10px;
}

.toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turn line into X */
.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

li, a {
    text-decoration: none;
    list-style: none;
    outline: 0;
}

/* Show menu */
.toggler:checked ~ .menu {
    visibility: visible;
}

.toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: .4s;
}

.toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0,0.4s ease;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu > div > div {
    text-align: center;
    max-width: 90vh;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu > div > div > ul {
    padding: 0;
}

.menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    padding: 1rem;
}

.menu > div > div > ul > li > a {
    color: inherit;
    transition: color 0.4s ease;
}